body {
  font-family: system-ui;
  background: #0000;
  color: BLCK;
  text-align: center;
}
h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
video {
  width: 500px;
  height: 700px;
  float: right;
  margin-left: 20px; 
  margin-bottom: 10px;
}

.content {
  display: flex;
  gap : 20px;
  align-items: center;
  padding: 20px;
}
.column {
  flex: 1;
}
.content1 {      /*for page 3*/
  display: flex;
  gap : 20px;
  align-items: center;
  padding: 20px;
}
.column1 {          /*for page 3*/
  flex: 1;
}
form {
  width: 500px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aqua;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
form.mysaw {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aqua;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
button{
  padding: 10px;
  border-radius: 20px;
}
#noButton {
    position: absolute;
    background-color: rgb(179, 41, 41);
    font-size: 50px;
    z-index: 1000;
    padding: 20px;
}